[submodule "Franka-Teach"]
	path = Franka-Teach
	url = https://github.com/NYU-robot-learning/Franka-Teach.git
	branch = joliachen/vr-hand-tracking

[submodule "deoxys_control"]
    path = src/deoxys_control
    url = https://github.com/NYU-robot-learning/deoxys_control.git
    branch = main

[submodule "RUKA"]
    path = Franka-Teach/RUKA
    url = https://github.com/joliachen/RUKA.git
    branch = joliachen/vr-hand-tracking
